<div id="content">
    {{ form_start(form) }}
    <div style="margin: 5px;">
        {{ form_label(form.bio) }}
        {{ form_widget(form.bio) }}
    </div>
    <div style="margin: 5px;">
        <button>Сохранить профиль</button>
    </div>
    {{ form_end(form) }}
</div>