{% extends 'base.html.twig' %}

{% block title %}Hello StatisticsController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    Всего комментариев: {{ commentsCount }}
</div>
{% endblock %}
